.comment-form {
  @include container;
  @include clearfix;

  width: 60%;
  margin-left: 20%;

  border-radius: 5px;

  background: rgb(230, 230, 230);

  @media screen and (max-width: 900px) {
    width: 100%;
    margin-left: 0;
  }

  &__header {
    @include container;
    @include clearfix;

    &__title {
      @include container;

      display: inline-block;
      float: left;

      text-align: left;
      font-size: 20px;
      font-weight: 200;
      margin: 0;
    }

    &__close-button {
      display: inline-block;
      float:   right;

      padding: 0;
      width:  40px;
      height: 40px;
      border: none;

      background-color: inherit;
      color: rgb(175, 175, 175);
      cursor: pointer;

      font-size: 40px;

      &:hover {
        color: rgb(125, 125, 125);
      }

      &::before {
        content: "✖";
      }
    }
  }

  &__body {
    @include container;
  }

  &__footer {
    @extend .comment__footer;

    &__time {
      @extend .comment__footer__time;
    }
  }
}
