<div class="posts">
  <% if posts.any? %>
    <% posts.each do |post| %>
      <%= render partial: 'post', locals: { post: post, has_link: true, async_delete: true, truncate_text: true } %>
    <% end %>
  <% else %>
    <span class="posts__empty">No posts yet :(</span>
  <% end %>
</div>
